@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">All Products</h1>
    <p> about <a href="https://learn.microsoft.com/aspnet/core">with ASP.NET</a>.</p>
</div>
